.day {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: center;
  width: 100%;
  height: 2.5rem;

  font-weight: 600;
  color: #4d5155;

  box-sizing: border-box;
  border: 2px solid #f5f5f6;
  background-color: #ffffff;
  cursor: pointer;

  z-index: 1;
  text-align: center;

  &.selected {
    outline: 0;
    color: #333333;
    border: 2px solid #e10246;
  }

  &.today {
    background-color: grey;
    color: white;
  }

  &.faded {
    color: #e0e2e5;
  }
}

.calendar {
  margin-bottom: 52px;
}

.calendar__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 0rem;
  width: 100%;
}

.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #e9e9e9;
  font-size: 14px;
  color: #4d5155;
  height: 2rem;
  font-weight: 600;
}

.arrow {
  border: none;
  background: none;
}
