@import "./components/all";
@import "./pages/home";

html {
    overflow: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html, body, #root, #root > div {
    height: 100%;
}
